In [20]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [21]:
train_paths = os.listdir("/home/narek/kaggle/army/data/train")

train_targets = []
for i in train_paths:
    if i.startswith("human"):
        train_targets.append(0)
    elif i.startswith("target_human"):
        train_targets.append(1)
    elif i.startswith("target_laser"):
        train_targets.append(2)
    elif i.startswith("target_gun"):
        train_targets.append(3)
    elif i.startswith("target_tank"):
        train_targets.append(4)

In [22]:
train_paths = [os.path.join("train", i) for i in train_paths]
train_df = pd.DataFrame({"path": train_paths, "target": train_targets, "split": "train"})

In [23]:
train_df.head()

                                                path  target  split
0  train/target_laser_camera4_1906_16014646144992...       2  train
1          train/target_human_IMG_164121071x1278.jpg       1  train
2             train/target_gun_IMG_38086967x1784.jpg       3  train
3              train/target_gun_IMG_262671347x54.jpg       3  train
4           train/target_human_IMG_41351946x1980.jpg       1  train

In [24]:
test_paths = os.listdir("/home/narek/kaggle/army/data/public_test/")

test_targets = []
for i in test_paths:
    if i.startswith("human"):
        test_targets.append(0)
    elif i.startswith("target_human"):
        test_targets.append(1)
    elif i.startswith("target_laser"):
        test_targets.append(2)
    elif i.startswith("target_gun"):
        test_targets.append(3)
    elif i.startswith("target_tank"):
        test_targets.append(4)

In [25]:
test_paths = [os.path.join("public_test", i) for i in test_paths]
test_df = pd.DataFrame({"path": test_paths, "target": test_targets, "split": "test"})

In [26]:
test_df.head()

                                                path  target split
0  public_test/target_laser_camera1_1096_16014645...       2  test
1  public_test/human_camera3_4201_160197818328607...       0  test
2  public_test/human_camera1_5635_527846551590010...       0  test
3  public_test/human_camera1_17139_42565469713424...       0  test
4  public_test/target_laser_camera1_1106_16014645...       2  test

In [27]:
train_df, val_df = train_test_split(train_df, test_size=0.2)

In [28]:
train_df.target.value_counts()

1    6350
3    2363
2    1818
0    1447
4    1288
Name: target, dtype: int64

In [30]:
val_df.target.value_counts()

1    1567
3     629
2     464
0     351
4     306
Name: target, dtype: int64

In [32]:
val_df.split = "val"

In [35]:

train_df.shape, test_df.shape, val_df.shape

((13266, 3), (1942, 3), (3317, 3))

In [40]:
pd.concat([train_df, val_df, test_df]).to_csv("/home/narek/kaggle/army/data/meta_info.csv", index=None)